* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url(../font/SpoqaHanSansNeo_OTF_original/SpoqaHanSansNeo-Regular.otf);
}

body {
  font-size: 0.8rem;
  flex-direction: column;
  background: #fff;
  font-family:'Spoqa Han Sans Neo';
}

li{
  list-style: none;
  display: inline-block;
  width: 160px;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: block;
}

i{
  font-style: normal;
}


.logo{
  background:url(../../../logo.png)no-repeat center;
}


@keyframes animation01 {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation01 {
  transform: translateX(-10px);
  opacity: 0;
  animation: animation01 0.4s 0.7s ease-out forwards;
}



.block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 50%;
  background-color: #292929;
  box-shadow: 0 0 5px 3px #222121;
}

.box::before {
  position: absolute;
  content: '';
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 50%;
  border: 1px solid #353535;
}

.box .number span {
  color: #e9e9e9;
}

.box .number .num {
  font-size: 35px;
  font-weight: bold;
}

.box .number .sub {
  font-size: 20px;
}

.box .title {
  font-size: 15px;
  color: #9b9b9b;
}

.dots {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 2s transform, 2s opacity ease;
}

.dots::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 5px;
  left: 50%;
  border-radius: 50%;
  background-color: #b7b5b5;
  box-shadow: 0 0 5px 2px #585858;
  transform: translateX(-50%);
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: none;
  transform: rotate(-90deg);
}

.circle {
  stroke: url(#gradientStyle);
  stroke-width: 4px;
  stroke-dasharray: 503;
  stroke-dashoffset: 503;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
}

.Circle_Wrap {
  width:1300px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.Site_wrap{
  width: 100%;
  height: 800px;
  background: #fff;
  border-radius: 15px;
}

.Site_top{
  margin-top: 30px;
  padding-top: 50px;
  width: 100%;
  line-height: 25px;
  text-align: center;
}

.Site_top>h4{
  font-size: 25px;
}
.Site_top>i{
  color: rgb(163, 160, 160);
}

.Site_img{
  width: 40%;
  height: 550px;
  background: #000;
  border-radius: 3%;
}
.Site_introduce{
  width: 40%;
  height: 550px;
  border-radius: 3%;
  border: 2px solid #000;
  text-align: left;
}

.Site_flexWrap{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Contact_Wrap{
  font-size: 17px;
  text-align: center;
}

.Site_img{
  box-shadow: 2px 1px 5px #000;
}

.port_img{
  background: url(../public/images/portfolio_img.jpeg) 0px 0px/cover no-repeat;
}